@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ---------------------------------------------- */
/* CORES GLOBAIS DO SITE */
/* ----------------------------------------------*/

:root{
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #ffffff;
    --color-red01: #d63939;


}

/* ---------------------------------------------- */

/* ----------------------------------------------*/

html{
    scroll-behavior: smooth;
}

.page{
    display: block;
    flex-direction: column;
    align-self: center;
    align-items: center;

}

.page .text{
    margin-left: -80px;
}
.page .about{
    background-color:#1c1c1c;
    padding: 20px;
}

.about a{
    text-decoration: none;
    position: relative;
    right: 80px;
    margin-right: 30px;
    width: 240px;
    text-align: center;
}

.about li{
    list-style-type: none;
}
.page p{
    margin-left: -80px;
    max-width: 80%;
    line-height: 30px;
}

body{
    height: 100vw;
    background-color: #000000;
    background-repeat: repeat-y;
}

/* ---------------------------------------------- */

/* ----------------------------------------------*/



/* ---------------------------------------------- */
/* CONFIG CABECALHO */
/* ----------------------------------------------*/

.img_logo{
    width: 250px;
}

.page .logo img{
    margin-top: 10px;
    width: 65px;

}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Red hat display', sans-serif;
}

.header{
    background-color: var(--color-dark4);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 56px;
    justify-content: space-between;
    padding: 0 10%;
}

.header .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.header .logo a span{
    color: #00bf63;
    transition: all;
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}

.navigation_header a{
    text-decoration: none;
    color: var(--color-purple);
    font-weight: bold;

}

.active{
    background-color: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header{
    display: none;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    background-color: transparent;
}

/* CONFIG PARA MOBILE */

@media screen and (max-width: 768px){
    .btn_icon_header{
        display: block;
    }
    .navigation_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
    
}

/* ---------------------------------------------- */

/* ----------------------------------------------*/



/* ---------------------------------------------- */
/* EXPLORAR */
/* ----------------------------------------------*/


.HubExplorar{
    display: flex;
    background-color:#000000;
    background-size: cover;
    background-image: url("https://images8.alphacoders.com/382/thumb-1920-382553.jpg");
    overflow: hidden;
    position: relative;
    height: 1000px;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: 'Red hat display', sans-serif;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.info-content {
    width: 40%;
    height: 300px;
    justify-content: center;
}


/* ---------------------------------------------- */

/* ----------------------------------------------*/





/* ---------------------------------------------- */
/* SOBRE */
/* ----------------------------------------------*/

.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Red hat display', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about{
    background-color: #000000;
    margin-top: 50px;
}

.HubAbout .title{
    color: #fff;
}

.about .title::after{
    content: "SOBRE O PROJETO";
    background-color: #000000;
}
.about .about-content .left{
    width: 45%;
    color: #fff;
}
.about .about-content .right{
    width: 55%;
    color: #fff;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}
.about .about-content .right .text span{
    color: #00804b;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #00804b;
    background: none;
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
    color: #fff;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-basis: 50%;
}

.left {
    text-align: center;
}

.left img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.right {
    padding-left: 20px;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px; /* Tamanho do sol */
    height: 60px; /* Tamanho do sol */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

.planet img {
    transition: transform 0.3s ease; /* Suaviza a transição */
}

.planet1 {
    width: 30px; /* Tamanho do planeta 1 */
    height: 30px;
    animation: orbit1 12s linear infinite; /* Aumenta a duração */
    transform: translateX(120px);
}

.planet2 {
    width: 50px; /* Tamanho do planeta 2 */
    height: 50px;
    animation: orbit2 16s linear infinite; /* Aumenta a duração */
    transform: translateX(190px);
}

.planet3 {
    width: 60px; /* Tamanho do planeta 3 */
    height: 60px;
    animation: orbit3 10s linear infinite; /* Aumenta a duração */
    transform: translateX(250px);
}

.planet4 {
    width: 60px; /* Tamanho do planeta 4 */
    height: 60px;
    animation: orbit4 11s linear infinite; /* Aumenta a duração */
    transform: translateX(310px);
}

.planet5 {
    width: 90px; /* Tamanho do planeta 5 */
    height: 90px;
    animation: orbit5 15s linear infinite; /* Aumenta a duração */
    transform: translateX(370px);
}

.planet6 {
    width: 70px; /* Tamanho do planeta 6 */
    height: 70px;
    animation: orbit6 12s linear infinite; /* Aumenta a duração */
    transform: translateX(430px);
}

.planet7 {
    width: 70px; /* Tamanho do planeta 7 */
    height: 70px;
    animation: orbit7 11s linear infinite; /* Aumenta a duração */
    transform: translateX(490px);
}

.planet8 {
    width: 70px; /* Tamanho do planeta 7 */
    height: 70px;
    animation: orbit8 10s linear infinite; /* Aumenta a duração */
    transform: translateX(530px);
}

@keyframes orbit1 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(80px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(80px) rotate(0deg); }
}

@keyframes orbit2 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(120px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(120px) rotate(0deg); }
}

@keyframes orbit3 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(170px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(170px) rotate(0deg); }
}

@keyframes orbit4 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(220px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(220px) rotate(0deg); }
}

@keyframes orbit5 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(280px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(280px) rotate(0deg); }
}

@keyframes orbit6 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(340px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(340px) rotate(0deg); }
}

@keyframes orbit7 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(420px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(420px) rotate(0deg); }
}

@keyframes orbit8 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(460px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(460px) rotate(0deg); }
}


/* IMAGENS DOS OBJETOS*/

.sun img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.planet1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.planet2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.planet3 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.planet4 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.planet5 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.planet6 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.planet7 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.planet8 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Efeito de aumento quando o mouse passa por cima de cada planeta */
.planet1 img:hover,
.planet2 img:hover,
.planet3 img:hover,
.planet4 img:hover,
.planet5 img:hover,
.planet6 img:hover,
.planet7 img:hover,
.planet8 img:hover {
    transform: scale(2.0); /* Aumenta o tamanho em 1.5 vezes */
    cursor: pointer;
    opacity: 50.0%;
    cursor: pointer;
}

.info-box-right {
    display: none; /* Inicialmente escondido */
    position: fixed; /* Fixar a caixa no canto esquerdo */
    right: 20px; /* Alinhar à esquerda */
    top: 15vh; /* Ajuste para centralizar verticalmente, se necessário */
    height: 70vh; /* Ocupa 80% da altura da viewport */
    width: 300px; /* Defina uma largura fixa ou proporcional */
    background: rgba(255, 255, 255, 0); /* Fundo branco com transparência */
    opacity: 0; /* Inicialmente invisível */
    pointer-events: none; /* Não captura cliques */
    overflow-y: auto; /* Permitir rolagem, se necessário */
}


.info-box-left {
    position: fixed; /* Posicionar relativamente */
    top: 15vh; /* Definir a posição top */
    left: 20px; /* Definir a posição left */
    height: 500px; /* Definir a altura */
    max-height: 70vh; /* Definir a altura máxima */
    overflow-y: scroll; /* Permitir rolagem vertical */
    width: 300px; /* Definir a largura */
    background: rgba(255, 255, 255, 0.8); /* Definir o fundo */
    padding: 20px;
    display: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Definir a sombra */
    transform: translateZ(0); /* Forçar a criação de um novo contexto de rolagem */
}

.info-box-left > * {
    height: 600px; /* Definir a altura do conteúdo */
}


/* Para navegadores Webkit (Chrome, Safari) */
.info-box-left::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.info-box-left::-webkit-scrollbar-track {
    background: #f0f0f0; /* Cor do fundo da barra de rolagem */
}

.info-box-left::-webkit-scrollbar-thumb {
    background-color: #1c1c1c; /* Cor da barra de rolagem */
    border-radius: 10px; /* Borda arredondada da barra de rolagem */
}

.info-box-left::-webkit-scrollbar-thumb:hover {
    background-color: #1c1c1c; /* Cor da barra de rolagem ao passar o mouse */
}
