@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ---------------------------------------------- */
/* CORES GLOBAIS DO SITE */
/* ----------------------------------------------*/

:root{
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #ffffff;
    --color-red01: #d63939;


}

/* ---------------------------------------------- */

/* ----------------------------------------------*/


.page{
    display: block;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

body{
    height: 100vw;
    background-color: #000000;
}

/* ---------------------------------------------- */

/* ----------------------------------------------*/



/* ---------------------------------------------- */
/* CONFIG CABECALHO */
/* ----------------------------------------------*/

.img_logo{
    width: 250px;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Red hat display', sans-serif;
}

.header{
    background-color: var(--color-dark4);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 56px;
    justify-content: space-between;
    padding: 0 10%;
}

.header .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.header .logo a span{
    color: #00bf63;
    transition: all;
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}

.navigation_header a{
    text-decoration: none;
    color: var(--color-purple);
    font-weight: bold;

}

.active{
    background-color: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header{
    display: none;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    background-color: transparent;
}

/* CONFIG PARA MOBILE */

@media screen and (max-width: 768px){
    .btn_icon_header{
        display: block;
    }
    .navigation_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
    
}

/* ---------------------------------------------- */

/* ----------------------------------------------*/

/* ---------------------------------------------- */
/* EXPLORAR */
/* ----------------------------------------------*/


.HubExplorar{
    display: flex;
    background-color:#000000;
    background-size: cover;
    height: 100vh;
    color: #fff;
    height: 872px;
    flex-direction: column;
    font-family: 'Red hat display', sans-serif;
}

.HubExplorar .info{
    margin: auto 0 auto 40px;   
    justify-content: center;
}   

.HubExplorar .info-content .text-1{
    font-size: 27px;
}

.HubExplorar .info-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
}

.HubExplorar .info-content .text-2 span{
    color: #00bf63;
    font-weight: 500;
}

.info-content {
    width: 40%;
    height: 300px;
    text-align: right;
    float: right;
    justify-content: center;
}


/* ---------------------------------------------- */

/* ----------------------------------------------*/

/* ---------------------------------------------- */
/* SOBRE */
/* ----------------------------------------------*/

.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Red hat display', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about{
    background-color: #000000;
    margin-top: 50px;
}

.HubAbout .title{
    color: #fff;
}

.about .title::after{
    content: "SOBRE O PROJETO";
    background-color: #000000;
}
.about .about-content .left{
    width: 45%;
    color: #fff;
}
.about .about-content .right{
    width: 55%;
    color: #fff;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}
.about .about-content .right .text span{
    color: #00804b;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #00804b;
    background: none;
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
    color: #fff;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-basis: 50%;
}

.left {
    text-align: center;
}

.left img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.right {
    padding-left: 20px;
}