body {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha verticalmente ao centro */
    height: 100vh;
    background-color: #000; /* Fundo preto para sobrepor a imagem */
    overflow: hidden;
    position: relative; /* Para o pseudo-elemento ser posicionado corretamente */
}

/* Pseudo-elemento para a imagem de fundo com opacidade */
body::before {
    content: "";
    position: absolute; /* Posiciona o pseudo-elemento em relação ao body */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://images8.alphacoders.com/528/thumb-1920-528619.jpg);
    background-size: cover; /* Cobre toda a área do body */
    opacity: 0.5; /* Define a opacidade da imagem (0 a 1) */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do body */
}

.solar-system {
    position: relative;
    width: 600px; /* Aumenta a largura do sistema solar */
    height: 600px; /* Aumenta a altura do sistema solar */
}

.sun img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px; /* Tamanho do sol */
    height: 60px; /* Tamanho do sol */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

.planet1 img{
    width: 100px; /* Tamanho do planeta 1 */
    height: 100px;
    animation: orbit1 30s linear infinite; /* Aumenta a duração */
    max-width: 150px;
    max-height: 150px;
<<<<<<< HEAD
    overflow: hidden;
=======
    cursor: pointer;
>>>>>>> 921469e117e3162a9870fa3686bc72f41e761b37
}

.planet2 img{
    width: 90px; /* Tamanho do planeta 2 */
    height: 90px;
    animation: orbit2 8s linear infinite; /* Aumenta a duração */
    max-width: 150px;
    max-height: 150px;
<<<<<<< HEAD
    overflow: hidden;
=======
    cursor: pointer;
>>>>>>> 921469e117e3162a9870fa3686bc72f41e761b37
}

.planet3 img{
    width: 110px; /* Tamanho do planeta 3 */
    height: 110px;
    animation: orbit3 7s linear infinite; /* Aumenta a duração */
    max-width: 150px;
    max-height: 150px;
<<<<<<< HEAD
    overflow: hidden;
=======
    cursor: pointer;
>>>>>>> 921469e117e3162a9870fa3686bc72f41e761b37
}

.planet4 img{
    width: 145px; /* Tamanho do planeta 4 */
    height: 145px;
    animation: orbit4 9s linear infinite; /* Aumenta a duração */
    max-width: 150px;
    max-height: 150px;
<<<<<<< HEAD
    overflow: hidden;
=======
    cursor: pointer;
>>>>>>> 921469e117e3162a9870fa3686bc72f41e761b37
}

.planet5 img{
    width: 150px; /* Tamanho do planeta 5 */
    height: 150px;
    animation: orbit5 11s linear infinite; /* Aumenta a duração */
    max-width: 150px;
    max-height: 150px;
<<<<<<< HEAD
    overflow: hidden;
=======
    cursor: pointer;
>>>>>>> 921469e117e3162a9870fa3686bc72f41e761b37
}

.planet6 img{
    width: 155px; /* Tamanho do planeta 6 */
    height: 155px;
    animation: orbit6 13s linear infinite; /* Aumenta a duração */
    max-width: 150px;
    max-height: 150px;
<<<<<<< HEAD
    overflow: hidden;
=======
    cursor: pointer;
>>>>>>> 921469e117e3162a9870fa3686bc72f41e761b37
}

.planet7 img{
    width: 160px; /* Tamanho do planeta 7 */
    height: 160px;
    animation: orbit7 15s linear infinite; /* Aumenta a duração */
    max-width: 150px;
    max-height: 150px;
<<<<<<< HEAD
    overflow: hidden;
}

/* -------------------------------------*/

.planet img {
    transition: transform 0.3s ease; /* Suaviza a transição */
}

/* Efeito de aumento quando o mouse passa por cima de cada planeta */
.planet1 img:hover,
.planet2 img:hover,
.planet3 img:hover,
.planet4 img:hover,
.planet5 img:hover,
.planet6 img:hover,
.planet7 img:hover {
    transform: scale(5.5); /* Aumenta o tamanho em 1.5 vezes */
    width: 1400px;
    height: 1400px;
    cursor: pointer;
    opacity: 50.0%;
=======
    cursor: pointer;
>>>>>>> 921469e117e3162a9870fa3686bc72f41e761b37
}

.info-box-left {
    display: none; /* Inicialmente escondido */
    position: fixed; /* Fixar a caixa no canto esquerdo */
    left: 20px; /* Alinhar à esquerda */
    top: 15vh; /* Ajuste para centralizar verticalmente, se necessário */
    height: 70vh; /* Ocupa 80% da altura da viewport */
    width: 300px; /* Defina uma largura fixa ou proporcional */
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    opacity: 0; /* Inicialmente invisível */
    pointer-events: none; /* Não captura cliques */
    overflow-y: auto; /* Permitir rolagem, se necessário */
}

.info-box-right {
    display: none; /* Inicialmente escondido */
    position: fixed; /* Fixar a caixa no canto esquerdo */
    right: 20px; /* Alinhar à esquerda */
    top: 15vh; /* Ajuste para centralizar verticalmente, se necessário */
    height: 70vh; /* Ocupa 80% da altura da viewport */
    width: 300px; /* Defina uma largura fixa ou proporcional */
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    opacity: 0; /* Inicialmente invisível */
    pointer-events: none; /* Não captura cliques */
    overflow-y: auto; /* Permitir rolagem, se necessário */
}

@keyframes orbit1 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(70px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(70px) rotate(0deg); }
}

@keyframes orbit2 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(100px) rotate(0deg); }
}

@keyframes orbit3 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(130px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(130px) rotate(0deg); }
}

@keyframes orbit4 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(160px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(160px) rotate(0deg); }
}

@keyframes orbit5 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(240px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(240px) rotate(0deg); }
}

@keyframes orbit6 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(300px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(300px) rotate(0deg); }
}

@keyframes orbit7 {
    0% { transform: translate(-50%, -50%) rotate(0deg) translateX(380px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg) translateX(380px) rotate(0deg); }
}